body {
	background-color: blue;
	text-align: center;
	margin-top: 50px;
	transition: .5s;
}

.text {
	font-size: 50px;
	color: lightblue;
	transition: .5s;
}

@media screen and (max-width: 800px) {
	body {
		background-color: red;
	}

	.text {
		font-size: 35px;
		color: blue;
	}
}