<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr/>
<!-- <ul> -->
  <!--
    No puede haber más de una directiva en un elemento,
    pero se puede utilizar otra etiqueta llamada <ng-container>
    para utilizar el ngFor.
  -->
  <!-- 
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active">{{lugar.nombre}}</li>
  </ng-container> 
  -->
<!-- </ul> -->
<!-- 
<ul>
  <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
    <a>
      <li contar-clicks [ngStyle]="{color:(lugar.active) ? 'black' : 'gray'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}" [resaltar]="lugar.plan">{{lugar.nombre}} - 
        <span *ngSwitchCase="1" [ngStyle]="{color:'green'}">Muy cercano</span>
        <span *ngSwitchCase="2" [ngStyle]="{color:'black'}">Cercano</span>
        <span *ngSwitchCase="3" [ngStyle]="{color:'red'}">Lejano</span>
      </li>
    </a>
  </ng-container>
</ul>
<hr/>
-->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares cercanos</h2>
      <a class="btn btn-primary" routerLink="/crear/new">Crear nuevo negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <a routerLink="/crear/{{lugar.id}}"><li class="list-group-item">{{lugar.nombre}}</li></a>
        </ng-container>
      </ul>  
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>
